//@import "./assets/fontawesome/scss/font-awesome.scss";

@font-face {
    font-family: 'FontAwesome';
    src: url('./assets/fontawesome/fonts/fontawesome-webfont.eot');
    src: url('./assets/fontawesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('./assets/fontawesome/fonts/fontawesome-webfont.woff') format('woff'),
    url('./assets/fontawesome/fonts/fontawesome-webfont.woff2') format('woff2'),
    url('./assets/fontawesome/fonts/fontawesome-webfont.ttf') format('truetype'),
    url('./assets/fontawesome/fonts/fontawesome-webfont.svg') format('svg');
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./assets/fonts/ProximaNova-Regular.eot');
    src: url('./assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('./assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('./assets/fonts/ProximaNova-Regular.svg') format('svg');
}
@font-face {
    font-family: 'ProximaNova-light';
    src: url('./assets/fonts/ProximaNova-Light.eot');
    src: url('./assets/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/ProximaNova-Light.woff') format('woff'),
    url('./assets/fonts/ProximaNova-Light.ttf') format('truetype'),
    url('./assets/fonts/ProximaNova-Light.svg') format('svg');
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: bold;
    src: url('./assets/fonts/ProximaNova-Bold.eot');
    src: url('./assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/ProximaNova-Bold.woff') format('woff'),
    url('./assets/fonts/ProximaNova-Bold.ttf') format('truetype'),
    url('./assets/fonts/ProximaNova-Bold.svg') format('svg');
}

//Custom scrollbar

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccd5e4;
    border-radius: 3px;
}

* {
    box-sizing: border-box;
    font-family: 'ProximaNova';
}
body {
    
    margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    height: 45px;
    width: 100%;
    background-color: #2f364a;
    color: #78829d;
}

main{
    display: flex;
    position: relative;
    height: calc(100vh - 90px);
    width: 100%;
}

footer{
    height: 45px;
    width: 100%;
    background-color: #2f364a;
}
a {
    text-decoration: none;
    color: inherit;
}
a:visited{
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 824px) {
    header, footer {
        height: 25px;
    }
    header{
        align-items: stretch;
    }
    main {
        height: calc(100vh - 50px);
    }
}

.circles{
    display: flex;
    height: 10px;
    width: 38px;
    margin-left: 20px; 

    %circle {
        height: 10px;
        width: 10px;
        margin-right: 4px;
        border-radius: 50%;
    }
    %circle:last-of-type {
        margin-right: 0;
    }

    &__red {
        @extend %circle;
        background-color: #e76847;
    }

    &__yellow {
        @extend %circle; 
        background-color: #fabf00;
    }

    &__green {
        @extend %circle;
        background-color: #52bea6;
    }
}

.app-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: normal;

    &:before {
        font-family: 'FontAwesome';
        content: '\f02d';
        display: block;
        height: 12px;
        width: 12px;
        margin-right: 7px;
    }
}

.side-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    font-size: 13px;

    &__help-btns{
        width: 169px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 18px;
    }
    &__help-center-btn { 
        

    }

    &__divider {
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background-color: #19202e;
    }

    &__help-our-support-btn {

    }
}

.profile-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    width: 158px;
    background-color: #15a4fa;
    color: #fff;

    &__avatar {
        height: 32px;
        width: 32px;
        border: solid 2px #eef1f7;
        border-radius: 50%;
        object-fit: contain;
        margin-left: 12px;
    }

    &__fullname:after {
        font-family: 'FontAwesome';
        content: '\f13a';
        height: 12px;
        width: 12px; 
        margin-left: 16px
    }
}

@media screen and (max-width: 824px) {
    .circles{
        height: 100%;
        align-items: center;
    }
    .profile-btn{
        height: 100% !important;
        width: 100px;
    }
    .side-buttons__help-btns, .profile-btn__avatar {
        display: none;
    }
}

.side-bar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    overflow: auto;
    background-color: #181e2c;
    color: #78829d;
    font-size: 13px;

    li:hover{
        background-color: #181e2c;
        cursor: pointer;
    }

    &__add-book-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 115px;
        width: 200px;
        flex-shrink: 0;
        overflow: hidden;
        width: 100%;
        margin-bottom: 4px;
        border-bottom: 1px solid #141824;
        background-color: #1f2637;
    }
    &__add-book-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 160px;
        border-radius: 4px;
        background-color: #f2795a;
        font-size: 14px;
        font-family: 'ProximaNova';
        font-weight: bold;
        color: #fff;
        text-align: center;
        cursor: pointer;
        
        &:before{
            font-family: 'FontAwesome';
            content: '\f067';
            margin-right: 19px;
            font-size: 16px;
        }
    }

    &__main-nav {
        width: 100%;
        height: 242px;
        background-color: #1f2637;
        border-top: 1px solid rgba(120, 130, 157, .1);
        border-bottom: 1px solid #141824;
        margin-bottom: 4px;

        li{
            list-style: none;
            height: 38px;
            width: 100%;
            padding: 13px 21px;
        }
        &__now-reading, &__browse, &__buy-books, 
        &__favorite-books, &__whishlist, &__history{
            &--active{
                background-color: #15a4fa;
                color: #fff;
            }
        }
        &__now-reading:before, &__now-reading--active:before{
            font-family: 'FontAwesome';
            content: '\f02d';
            margin-right: 12px;
            font-size: 14px;
        }
        &__browse:before, &__browse--active:before{
            font-family: 'FontAwesome';
            content: '\f0ac';
            margin-right: 12px;
            font-size: 14px;
        }
        &__buy-books:before, &__buy-books--active:before{
            font-family: 'FontAwesome';
            content: '\f07a';
            margin-right: 12px;
            font-size: 14px;
        }
        &__favorite-books:before, &__favorite-books--active:before{
            font-family: 'FontAwesome';
            content: '\f005';
            margin-right: 12px;
            font-size: 14px;
        }
        &__whishlist:before, &__whishlist--active:before{
            font-family: 'FontAwesome';
            content: '\f00b';
            margin-right: 12px;
            font-size: 14px;
        }
        &__history:before, &__history--active:before {
            font-family: 'FontAwesome';
            content: '\f017';
            margin-right: 12px;
            font-size: 14px;
        }
    }
    &__popular-tags {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 183px;
        flex-shrink: 0;
        margin: 0;
        border-top: 1px solid rgba(120, 130, 157, .1);
        border-bottom: 1px solid #141824;
        padding-left: 0px;
        overflow: hidden;
        background-color: #1f2637;

        %circle {
            content: '';
            display: block;
            height: 6px;
            width: 6px;
            margin: 0 15px 0 25px;
            border-radius: 50%;
        }
        li {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 38px;
            list-style: none;
        }
        li:nth-of-type(1):before{
            @extend %circle;
            background-color: #e64c66;
        }
        li:nth-of-type(2):before{
            @extend %circle;
            background-color: #ffab00;
        }
        li:nth-of-type(3):before{
            @extend %circle;
            background-color: #00bfdd;
        }
        li:nth-of-type(4):before{
            @extend %circle;
            background-color: #7874cf;
        }
    }
    &__history-box {
        width: 100%;
        flex: 1;
        margin: 4px 0 0 0;
        border-top: 1px solid rgba(120, 130, 157, .1);
        border-bottom: 1px solid #141824;
        background-color: #1f2637;
        font-size: 12px;
        line-height: 1.5;
    }
    &__history-element {
        display: flex;
        margin: 37px 21px;
        color: #6f7d95;

        a {
            color: #97b3ce;
        }
        a:visited {
            color: #97b3ce;
        }
        &:before {
            font-family: 'FontAwesome';
            content: '\f017';
            margin-right: 12px;
            font-size: 14px;
        }
    }
    &__history-box--empty {
        display: none;
    }
    
}
@media screen and (max-width: 824px){
    .side-bar{
        width: 50%;
    }
    .--closed{
        left: -50%;
    }
}
@media screen and (max-width: 420px){
    .side-bar{
        width: 100%;
        &__add-book-btn {
            margin: 5px auto;
        }
        transition: left .5s ease-in-out;
    }
    .--closed{
        left: -100%;
    }
}


.main-space {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-left: 200px;
    z-index: 1;
    overflow: auto;
}
@media screen and (max-width: 824px){
    .main-space{
        padding-left: 0;
    }
}
