//Fonts
@import "./assets/stylesheets/fonts.scss";


//base
* {
    box-sizing: border-box;
    font-family: 'ProximaNova';
}

body {
    
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: none; 
}
::-webkit-scrollbar-thumb {
    background: #ccd5e4;
    border-radius: 3px;
}

//layout
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    height: 45px;
    width: 100%;
    background-color: #2f364a;
    color: #78829d;
    user-select: none;
}

main {
    display: flex;
    position: relative;
    height: calc(100vh - 90px);
    width: 100%;
    user-select: none;
}

footer {
    display: flex;
	justify-content: flex-end;
	align-items: center;
    height: 45px;
    width: 100%;
    background-color: #2f364a;
    user-select: none;
}

@media screen and (max-width: 824px) {

    header, footer {
        height: 35px;
    }

    header {
        align-items: stretch;
    }

    main {
        height: calc(100vh - 70px);
    }
}

//components

//header
@import "./assets/stylesheets/header.scss";

//main
@import "./assets/stylesheets/side-bar.scss";
@import "./assets/stylesheets/main-space.scss";

//footer
@import "./assets/stylesheets/footer.scss";

