@font-face {
  font-family: 'FontAwesome';
  src: url("./assets/fontawesome/fonts/fontawesome-webfont.eot");
  src: url("./assets/fontawesome/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/fontawesome/fonts/fontawesome-webfont.woff") format("woff"), url("./assets/fontawesome/fonts/fontawesome-webfont.woff2") format("woff2"), url("./assets/fontawesome/fonts/fontawesome-webfont.ttf") format("truetype"), url("./assets/fontawesome/fonts/fontawesome-webfont.svg") format("svg");
}

@font-face {
  font-family: 'ProximaNova';
  src: url("./assets/fonts/ProximaNova-Regular.eot");
  src: url("./assets/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Regular.woff") format("woff"), url("./assets/fonts/ProximaNova-Regular.ttf") format("truetype"), url("./assets/fonts/ProximaNova-Regular.svg") format("svg");
}

@font-face {
  font-family: 'ProximaNova-light';
  src: url("./assets/fonts/ProximaNova-Light.eot");
  src: url("./assets/fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Light.woff") format("woff"), url("./assets/fonts/ProximaNova-Light.ttf") format("truetype"), url("./assets/fonts/ProximaNova-Light.svg") format("svg");
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: bold;
  src: url("./assets/fonts/ProximaNova-Bold.eot");
  src: url("./assets/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Bold.woff") format("woff"), url("./assets/fonts/ProximaNova-Bold.ttf") format("truetype"), url("./assets/fonts/ProximaNova-Bold.svg") format("svg");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'ProximaNova';
  -webkit-tap-highlight-color: rgba(47, 54, 74, 0.5);
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 6px;
  margin-left: -1px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #ccd5e4;
  border-radius: 3px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 100%;
  background-color: #2f364a;
  color: #78829d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: calc(100vh - 90px);
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 100%;
  background-color: #2f364a;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 824px) {
  header, footer {
    height: 35px;
  }
  header {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  main {
    height: calc(100vh - 70px);
  }
}

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10px;
  width: 38px;
  margin-left: 20px;
}

.circles .circles__red, .circles .circles__yellow, .circles .circles__green, .circles .side-bar__popular-tags li:nth-of-type(1):before, .side-bar__popular-tags .circles li:nth-of-type(1):before, .circles .side-bar__popular-tags li:nth-of-type(2):before, .side-bar__popular-tags .circles li:nth-of-type(2):before, .circles .side-bar__popular-tags li:nth-of-type(3):before, .side-bar__popular-tags .circles li:nth-of-type(3):before, .circles .side-bar__popular-tags li:nth-of-type(4):before, .side-bar__popular-tags .circles li:nth-of-type(4):before {
  height: 10px;
  width: 10px;
  margin-right: 4px;
  border-radius: 50%;
}

.circles .circles__red:last-of-type, .circles .circles__yellow:last-of-type, .circles .circles__green:last-of-type, .circles .side-bar__popular-tags li:last-of-type:nth-of-type(1):before, .side-bar__popular-tags .circles li:last-of-type:nth-of-type(1):before, .circles .side-bar__popular-tags li:last-of-type:nth-of-type(2):before, .side-bar__popular-tags .circles li:last-of-type:nth-of-type(2):before, .circles .side-bar__popular-tags li:last-of-type:nth-of-type(3):before, .side-bar__popular-tags .circles li:last-of-type:nth-of-type(3):before, .circles .side-bar__popular-tags li:last-of-type:nth-of-type(4):before, .side-bar__popular-tags .circles li:last-of-type:nth-of-type(4):before {
  margin-right: 0;
}

.circles__red {
  background-color: #e76847;
}

.circles__yellow {
  background-color: #fabf00;
}

.circles__green {
  background-color: #52bea6;
}

.app-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: normal;
}

.app-title:before {
  font-family: 'FontAwesome';
  content: '\f02d';
  display: block;
  height: 12px;
  width: 12px;
  margin-right: 7px;
}

.side-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  font-size: 13px;
}

.side-buttons__help-btns {
  width: 169px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

.side-buttons__help-center-btn:hover, .side-buttons__our-support-btn:hover {
  cursor: pointer;
  color: white;
}

.side-buttons__divider {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #19202e;
}

.profile-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 158px;
  background-color: #15a4fa;
  color: #fff;
}

.profile-btn:hover {
  cursor: pointer;
}

.profile-btn__avatar {
  height: 32px;
  width: 32px;
  margin-left: 12px;
  border: solid 2px #eef1f7;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.profile-btn__fullname:after {
  font-family: 'FontAwesome';
  content: '\f13a';
  height: 12px;
  width: 12px;
  margin-left: 16px;
}

@media screen and (max-width: 824px) {
  .circles {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .profile-btn {
    height: 100% !important;
    width: 100px;
  }
  .side-buttons__help-btns, .profile-btn__avatar {
    display: none;
  }
}

.side-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 200px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  overflow: auto;
  background-color: #181e2c;
  color: #78829d;
  font-size: 13px;
}

.side-bar li:hover {
  background-color: #181e2c;
  cursor: pointer;
}

.side-bar__add-book-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
  width: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  width: 100%;
  margin-bottom: 4px;
  border-bottom: 1px solid #141824;
  background-color: #1f2637;
}

.side-bar__add-book-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 160px;
  border-radius: 4px;
  background-color: #f2795a;
  font-size: 14px;
  font-family: 'ProximaNova';
  font-weight: bold;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.side-bar__add-book-btn:before {
  font-family: 'FontAwesome';
  content: '\f067';
  margin-right: 19px;
  font-size: 16px;
}

.side-bar__main-nav {
  width: 100%;
  height: 242px;
  border-top: 1px solid rgba(120, 130, 157, 0.1);
  border-bottom: 1px solid #141824;
  margin-bottom: 4px;
  background-color: #1f2637;
}

.side-bar__main-nav li {
  height: 38px;
  width: 100%;
  padding: 13px 21px;
  list-style: none;
}

.side-bar__main-nav__now-reading--active, .side-bar__main-nav__browse--active, .side-bar__main-nav__buy-books--active, .side-bar__main-nav__favorite-books--active, .side-bar__main-nav__whishlist--active, .side-bar__main-nav__history--active {
  background-color: #15a4fa;
  color: #fff;
}

.side-bar__main-nav__now-reading:before, .side-bar__main-nav__now-reading--active:before {
  font-family: 'FontAwesome';
  content: '\f02d';
  margin-right: 12px;
  font-size: 14px;
}

.side-bar__main-nav__browse:before, .side-bar__main-nav__browse--active:before {
  font-family: 'FontAwesome';
  content: '\f0ac';
  margin-right: 12px;
  font-size: 14px;
}

.side-bar__main-nav__buy-books:before, .side-bar__main-nav__buy-books--active:before {
  font-family: 'FontAwesome';
  content: '\f07a';
  margin-right: 12px;
  font-size: 14px;
}

.side-bar__main-nav__favorite-books:before, .side-bar__main-nav__favorite-books--active:before {
  font-family: 'FontAwesome';
  content: '\f005';
  margin-right: 12px;
  font-size: 14px;
}

.side-bar__main-nav__whishlist:before, .side-bar__main-nav__whishlist--active:before {
  font-family: 'FontAwesome';
  content: '\f00b';
  margin-right: 12px;
  font-size: 14px;
}

.side-bar__main-nav__history:before, .side-bar__main-nav__history--active:before {
  font-family: 'FontAwesome';
  content: '\f017';
  margin-right: 12px;
  font-size: 14px;
}

.side-bar__popular-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 183px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  border-top: 1px solid rgba(120, 130, 157, 0.1);
  border-bottom: 1px solid #141824;
  padding-left: 0px;
  overflow: hidden;
  background-color: #1f2637;
}

.side-bar__popular-tags .circles__red, .side-bar__popular-tags .circles__yellow, .side-bar__popular-tags .circles__green, .side-bar__popular-tags li:nth-of-type(1):before, .side-bar__popular-tags li:nth-of-type(2):before, .side-bar__popular-tags li:nth-of-type(3):before, .side-bar__popular-tags li:nth-of-type(4):before {
  content: '';
  display: block;
  height: 6px;
  width: 6px;
  margin: 0 15px 0 25px;
  border-radius: 50%;
}

.side-bar__popular-tags li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
  width: 100%;
  list-style: none;
}

.side-bar__popular-tags li:nth-of-type(1):before {
  background-color: #e64c66;
}

.side-bar__popular-tags li:nth-of-type(2):before {
  background-color: #ffab00;
}

.side-bar__popular-tags li:nth-of-type(3):before {
  background-color: #00bfdd;
}

.side-bar__popular-tags li:nth-of-type(4):before {
  background-color: #7874cf;
}

.side-bar__history-box {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 4px 0 0 0;
  border-top: 1px solid rgba(120, 130, 157, 0.1);
  border-bottom: 1px solid #141824;
  background-color: #1f2637;
  font-size: 12px;
  line-height: 1.5;
}

.side-bar__history-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 37px 21px;
  color: #6f7d95;
}

.side-bar__history-element a {
  color: #97b3ce;
}

.side-bar__history-element a:visited {
  color: #97b3ce;
}

.side-bar__history-element:before {
  font-family: 'FontAwesome';
  content: '\f017';
  margin-right: 12px;
  font-size: 14px;
}

.side-bar__history-element__date {
  font-family: 'ProximaNova-light';
}

.side-bar__history-box--empty {
  display: none;
}

@media screen and (max-width: 824px) {
  .side-bar {
    width: 50%;
    -webkit-transition: left .5s ease-in-out;
    transition: left .5s ease-in-out;
  }
  .side-bar.--closed {
    left: -60%;
  }
}

@media screen and (max-width: 420px) {
  .side-bar {
    width: 100%;
    -webkit-transition: left .5s ease-in-out;
    transition: left .5s ease-in-out;
  }
  .side-bar__add-book-btn {
    margin: 5px auto;
  }
  .side-bar.--closed {
    left: -101%;
  }
}

.main-space {
  height: 100%;
  width: 100%;
  padding-left: 200px;
  z-index: 1;
  overflow: hidden;
}

.main-header {
  display: block;
  height: 120px;
  overflow: hidden;
}

.main-header__upper-bar {
  height: 71px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #dadfea;
  padding-left: 23px;
  padding-top: 23px;
  background-color: #eef1f7;
  font-size: 22px;
  line-height: 1.18;
  color: #444c63;
}

.main-header__lower-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 49px;
  width: 100%;
  border-top: 1px solid #f4f6fa;
  border-bottom: 1px solid #dadfea;
  background-color: #eef1f7;
}

.main-header__search-sort {
  display: block;
  width: 340px;
  margin-left: 20px;
}

.main-header__search-sort-btn {
  display: inline-block;
  height: 20px;
  width: auto;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  color: #8c97b2;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

.main-header__search-sort-btn.--active {
  background-color: #97b3ce;
  color: #fff;
}

.main-header__search-sort-btn:hover {
  background-color: #dce6ef;
  color: #8c97b2;
  cursor: pointer;
}

.main-header__search-container {
  position: relative;
  height: 32px;
  width: 40%;
  max-width: 400px;
  margin-right: 19px;
}

.main-header__search-input {
  height: 100%;
  width: 100%;
  border: solid 1px rgba(140, 151, 178, 0.4);
  border-radius: 16px;
  padding: 11px 30px 9px 19px;
  color: #8c97b2;
}

.main-header__search-input::-webkit-input-placeholder {
  color: #8c97b2;
  font-size: 13px;
}

.main-header__search-input:-ms-input-placeholder {
  color: #8c97b2;
  font-size: 13px;
}

.main-header__search-input::-ms-input-placeholder {
  color: #8c97b2;
  font-size: 13px;
}

.main-header__search-input::placeholder {
  color: #8c97b2;
  font-size: 13px;
}

.main-header__search-icon {
  position: absolute;
  right: 0px;
  padding: 5px 17px 0;
  pointer-events: none;
  z-index: 3;
}

.main-header__search-icon .fa.fa-search:before {
  font-size: 14px;
}

@media screen and (max-width: 824px) {
  .main-space {
    padding-left: 0;
  }
  .main-header {
    height: 50px;
  }
  .main-header__upper-bar {
    display: none;
  }
  .main-header__lower-bar {
    height: 50px;
    padding: 0 8px;
  }
  .main-header__search-sort {
    display: block;
    position: absolute;
    margin-left: 8px;
    z-index: 1;
  }
  .main-header__search-sort-btn {
    padding: 0 4px 0 4px;
  }
  .main-header__search-container {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .main-header__search-input {
    position: absolute;
    right: 8px;
    width: 32px;
    padding: 0;
    z-index: 2;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  .main-header__search-input:focus {
    width: calc(100% - 16px);
    padding: 11px 30px 9px 19px;
    outline: transparent;
  }
  .main-header__search-input::-webkit-input-placeholder {
    color: rgba(140, 151, 178, 0);
  }
  .main-header__search-input:-ms-input-placeholder {
    color: rgba(140, 151, 178, 0);
  }
  .main-header__search-input::-ms-input-placeholder {
    color: rgba(140, 151, 178, 0);
  }
  .main-header__search-input::placeholder {
    color: rgba(140, 151, 178, 0);
  }
  .main-header_search-icon {
    display: block;
    right: 0;
    z-index: 2;
  }
}

.books-list {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  height: calc(100% - 120px - 16px);
  width: calc(100% - 8px);
  margin: 8px 10px 8px 0;
  overflow: auto;
}

.books-list__book {
  position: relative;
  margin: 29px auto;
  width: 200px;
}

.books-list__book__cover {
  display: block;
  height: 275px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.books-list__book__title {
  margin: 14px 0 4px;
  font-size: 16px;
  color: #444c63;
  cursor: pointer;
}

.books-list__book__author {
  display: block;
  font-size: 12px;
  color: #6f7d95;
  margin-bottom: 8px;
}

.books-list__book__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 80px;
  color: #ffab00;
  unicode-bidi: bidi-override;
}

.books-list__book__rating span {
  font-size: 16px;
}

.books-list__book__rating span:not(:last-of-type) {
  margin-right: 1.4px;
}

@media screen and (max-width: 824px) {
  .books-list {
    height: calc(100% - 50px - 16px);
  }
}

.help-btn, .setings-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 55px;
  color: #fff;
}

.help-btn .fa, .setings-btn .fa {
  font-size: 16px;
}

.help-btn:hover, .setings-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 824px) {
  .help-btn, .setings-btn {
    height: 35px;
    width: 45px;
  }
}

.help-btn {
  background-color: #1f2637;
}

.setings-btn {
  background-color: #15a4fa;
}
/*# sourceMappingURL=style.css.map */